@media all and (max-width: 700px) {
  .leaf {
    height: 100vh; }
  header {
    width: 90%; }
    header a img {
      width: 90% !important; }
  footer .socialhub {
    margin: 40px auto;
    position: relative;
    display: block;
    text-align: center; }
  .index .media {
    width: 90vw;
    max-height: 400px; }
  .index .text h1 {
    font-size: 2em;
    line-height: 1em; }
  .index .text .alt-txt {
    font-size: 1em; }
    .index .text .alt-txt h3 {
      font-size: 1.8em;
      line-height: 1em; }
  .index .order .add_to_cart_inline .amount {
    text-align: center; }
  .index .order .cart .quantity {
    max-width: 200px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 10px auto !important; }
  .index .order .cart .button {
    display: block;
    margin: 40px auto; }
  .woocommerce-billing-fields {
    background: blue; }
    .woocommerce-billing-fields .form-row {
      float: none;
      display: block;
      width: 90%; } }
