/// fuentes y colores standar d del site

//colores
 $verde: rgb(139,195,74);
 $gris: rgb(149, 152, 154);

//fuentes
@font-face {
    font-family: 'iconos';
    src: url('fonts/flaticon.eot');
    src: url('fonts/flaticon.eot?#iefix') format('embedded-opentype'),
         url('fonts/flaticon.ttf') format('truetype'),
         url('fonts/flaticon.svg#opficioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'branboll';
    src: url('fonts/Brannboll.eot');
    src: url('fonts/Brannboll.eot?#iefix') format('embedded-opentype'),
         url('fonts/Brannboll.ttf') format('truetype'),
         url('fonts/Brannboll.svg#opficioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'walkaway';
    src: url('fonts/walkway_semibold-webfont.woff');
    src: url('fonts/walkway_semibold-webfont.woff2');
    font-weight: normal;
    font-style: normal;

}


@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto:100,400');

//variables
$standard: 'walkaway', 'Roboto', sans-serif;
$light: 'Roboto', sans-serif;
$title: 'branboll', Sans, verdana;
$glyphs: 'iconos';


body{
  font-family: $standard;
}

h1, h2, h3, h4, h5, h6{
  font-family: $title;
  font-weight: normal;
}

p{
  font-family: $standard;
  font-size: 16px;
}

a{
  font-family: $standard;
  font-size: 18px;
  color: $verde;
  &:hover{
    transition: all 0.8s ease;
  }
}
