//browser defaults
::-webkit-scrollbar{
  width: 8px;
  background: $gris;
}
::-webkit-scrollbar-thumb{
  background: $verde;
  border-radius: 8px;
}
::-webkit-scrollbar:horizontal{
  height: 8px;
  background: $gris;
}

@mixin ease($property) {
  transition: $property 1s ease;
  -webkit-transition: $property 1s ease;
}

@mixin shadow($lat, $lon, $blur) {
  box-shadow: $lat $lon $blur rgba($gris, 0.8);
}

@mixin lift($distance) {
  z-index: 99;
  transform: translateZ($distance);
  @include shadow(2px, 9px, 45px);
  @include ease(all);
}

@mixin menu() {
	@include clearfix();

	li {
		display: inline-block;
	}
}

@mixin boton($display, $color, $bg){
  border: 0px;
  display: $display;
  margin: 2em auto;
  color: $color;
  background: $bg;
  padding: 10px 18px;
  border-radius: 1%;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font: 'Raleway', 'Roboto', Helvetica;
  font-style: normal;
  i{
    &:before{margin: 0 4px;}
  }
//  input[type=number]{
//    max-width: 40px;
//    border: 0px;
//    background: white;
//    padding: 8px;
//    margin: 0 0 0 12px;
//  }
  &:hover{
    cursor: pointer;
    outline-offset: none;
    color: darken($color, 5%);
    background: lighten($bg, 10%);
    @include ease(all);
    @include lift(100px);
  }
  &:focus{
    @include ease(all);
    background: darken($bg, 10%);
  }
}

.swipe{
  @include ease(left);
  left: 0vw !important;
  i{color: $verde;}
}

//modal
@keyframes show{
    from{left:-100vh; opacity: 0; display: none;}
    to{left: -10vh; opacity: 0.4; display: block;}
}
@keyframes show-logo{
    from{top:-10vh; opacity: 0; display: none;}
    to{top:  0vh; opacity: 1; display: block;}
}


//inputs
* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */

/* form starting stylings ------------------------------- */
.group{
  background: none;
  position:relative;
  margin-bottom:45px;
}
.group input {
  background: none;
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus{ outline:none; }

/* LABEL ======================================= */
.group label{
  display: none !important;
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.group input:focus ~ label, .group input:valid ~ label{
  top:-20px;
  font-size:14px;
  color:$verde;
}


/* BOTTOM BARS ================================= */
.bar{ position:relative; display:block; width:300px; }
.bar:before, .bar:after{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:darken($verde, 20%);
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.upLabel{
  animation: labelUp 0.5s ease;
}

/* active state */
.group input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

.form-row{
  input:focus ~ label, input:valid ~ label{
    opacity: 0px !important;
    background: blue !important;
  }

  .billing_state{display: none !important;}
}


.create-account{
  display: none !important;
}

.woocommerce form{
  .billing_state{display: none !important;}
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:darken($verde, 20%); }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:darken($verde, 20%); }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:darken($verde, 30%); }
  to 	{ width:0; background:transparent; }
}
@-webkit-keyframes labelUp{
  from{top: 0px; @include ease(all);}
  to{top: -20px; @include ease(all);}
}
@keyframes labelUp{
  from{top: 0px; @include ease(all);}
  to{top: -20px; @include ease(all);}
}


//sharing

.sharing{
  display: block;
  max-width: 400px;
  text-align: center;
  margin: 40px auto;
  padding: 6px 0px;
  .s-button{
    height: 30px;
    display: inline-block;
    margin: 0px 10px;
    overflow: hidden;
  }
}
