@media all and (max-width: 700px){
  .leaf{
    height: 100%;
  }
  header{
      width: 90%;
      a{
        img{
          width:90% !important;
        }
      }
    }
  footer{
    .socialhub{
      margin: 40px auto;
      position: relative;
      display: block;
      text-align: center;
    }
  }
  .index{
    .media{
      width: 90vw;
      max-height: 200px;
      iframe{
        max-height: 200px !important;
      }
    }
    .text{
      h1{
        margin: 30px auto;
        font-size: 3em;
        line-height: 0.8em;
      }
      .alt-txt{
        font-size: 1em;
        h3{
          font-size: 1.8em;
          line-height: 1em;
        }
      }
    }
    .order{
      .add_to_cart_inline{
        .amount{
          text-align: center;
        }
      }
      .cart{
        .quantity{
          max-width: 200px;
          display: flex;
          margin: 10px auto !important;
        }
        .button{
          display: block;
          margin:40px auto;
        }
      }
    }
  }

  //checkout
  .woocommerce-billing-fields{
    .form-row {
      margin: 10px auto !important;
      float: none !important;
      display: block;
      width: 90% !important;
    }

  }
  .checkout{

  }
  #customer_details{
    height: 450px;
    overflow: inherit;
  }
  .woocommerce-account-fields{
      .woocommerce-form__label-for-checkbox{
        width: 100%;
        margin: 20px auto;
        display: block !important;
        .input-checkbox, span{
          width: 40% !important;
          display: inline-block !important;
        }
      }

  }
}
