@import "reset";
@import "fonts-colors";
@import "effects";
@import "mixin";


body{
  position: relative;
//  background: url(images/leaf.svg) no-repeat;
  background-position: left;
}

footer{
  padding-bottom: 40px;
  .logo{
    margin: 0 auto;
    display: block;
    max-width: 200px;
    opacity: 0.5;
  }
  .socialhub{
    max-width: 300px;
    position: fixed;
    right: 2vh;
    bottom: 4vh;
    span{
      display: block;
      text-align: center;
      font-size: 1.2em;
      color: $gris;
    }
    a{
      i{
        margin: 10px 6px;
        display: inline-block;
        &:before{
          margin: 0px;
          font-size: 1.8em;
        }
        &:hover{
          @include ease(all);
          color: $verde;
          cursor: pointer;
        }
      }
    }
  }
}

header{
    display: block;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    img{
      display: block;
      position: relative;
      margin: 20px auto;
      animation-name: show-logo;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
    }
  }

main{
  max-width: 1000px;
  margin: 0 auto;
}

.leaf{
  position: fixed;
  top: -10vh;
  left: -10vw;
  z-index: -1;
  max-height: 110vh;
  animation-name: show;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.index{
  .media{
    max-width: 800px;
    margin: 0 auto;
    iframe, img{
      width: 100%;
      height: 50vh;
      max-height: 600px !important;
    }
  }
  .text{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    h1{
      margin: 10px auto;
      margin-top: 40px;
      color: $verde;
      font-size: 4.5em;
      line-height: 1em;
    }
    .alt-txt {
      h3{
        color: $gris;
        font-size: 3.2em;
        font-family: $standard;
        margin: 8px auto;
      }
      p{
        margin: 0 auto;
        font-size: 1.8em;
      }
    }
  }
  .order{
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    .qty{
      font-size: 2em;
    }
    .add_to_cart_inline{
      margin: 20px auto;
      max-width: 250px;
      border: 0px !important;
      width: 100%;
      .amount{
        margin: 0 20px 0 0;
        font-family: 'Roboto', sans;
        font-weight: bold;
        color: $verde;
        font-size: 2.5em;
      }
    }
    .cart{
        margin: 0 auto;
       .quantity{
          max-width: 100px;
          display: inline-flex;
          margin: 0 10px;
          vertical-align: middle;
          .minus, .plus{
            font-size: 30px;
            font-weight: bold;
            width: auto;
            padding: 4px 8px !important;
            color: $verde !important;
            background: transparent !important;
            background: lighten($verde, 60%);
            &:hover{
              cursor: pointer;
              color: darken($verde, 20%);
              @include ease(color);
            }
          }
        }
       .button{
          @include boton(inline-block, white, $verde);
          font-size:1.8em;
          margin: 0px 0 0 40px;
          display: inline-block;
          vertical-align: middle;
          &:after{
            font-size: 1.4em;
            margin: 0 0 0 8px;
            display: inline-block;
            content: "\f107";
            font-weight: lighter;
            font-family: 'Flaticon';
          }
        }
    }
  }
}

.checkout{
      h3{
        font-size: 2.8em;
      }
    .col-1{
      width: 100% !important;
    }
    .col-2{
      display: none !important;
    }
}

@import "mobile";
