    /*
    Flaticon icon font: Flaticon
    Creation date: 24/04/2017 20:49
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-linkedin-social-outline-logotype:before { content: "\f100"; }
.flaticon-instagram-social-outlined-logo:before { content: "\f101"; }
.flaticon-twitter-social-outlined-logo:before { content: "\f102"; }
.flaticon-facebook-logo-outline:before { content: "\f103"; }
.flaticon-technology:before { content: "\f104"; }
.flaticon-mail:before { content: "\f105"; }
.flaticon-user:before { content: "\f106"; }
.flaticon-001-donation:before { content: "\f107"; }
.flaticon-donation:before { content: "\f108"; }
.flaticon-pasta-serving:before { content: "\f109"; }
.flaticon-spaguetti:before { content: "\f10a"; }
.flaticon-pasta:before { content: "\f10b"; }

    $font-Flaticon-linkedin-social-outline-logotype: "\f100";
    $font-Flaticon-instagram-social-outlined-logo: "\f101";
    $font-Flaticon-twitter-social-outlined-logo: "\f102";
    $font-Flaticon-facebook-logo-outline: "\f103";
    $font-Flaticon-technology: "\f104";
    $font-Flaticon-mail: "\f105";
    $font-Flaticon-user: "\f106";
    $font-Flaticon-001-donation: "\f107";
    $font-Flaticon-donation: "\f108";
    $font-Flaticon-pasta-serving: "\f109";
    $font-Flaticon-spaguetti: "\f10a";
    $font-Flaticon-pasta: "\f10b";
