	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/04/2017 20:49
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-linkedin-social-outline-logotype:before { content: "\f100"; }
.flaticon-instagram-social-outlined-logo:before { content: "\f101"; }
.flaticon-twitter-social-outlined-logo:before { content: "\f102"; }
.flaticon-facebook-logo-outline:before { content: "\f103"; }
.flaticon-technology:before { content: "\f104"; }
.flaticon-mail:before { content: "\f105"; }
.flaticon-user:before { content: "\f106"; }
.flaticon-001-donation:before { content: "\f107"; }
.flaticon-donation:before { content: "\f108"; }
.flaticon-pasta-serving:before { content: "\f109"; }
.flaticon-spaguetti:before { content: "\f10a"; }
.flaticon-pasta:before { content: "\f10b"; }
